[submodule "42cursus-libft"]
	path = 42cursus-libft
	url = https://github.com/KHammerschmidt/42cursus-Libft
[submodule "42cursus-ft_printf"]
	path = 42cursus-ft_printf
	url = https://github.com/KHammerschmidt/42cursus-ft_printf
[submodule "42cursus-get_next_line"]
	path = 42cursus-get_next_line
	url = https://github.com/KHammerschmidt/42cursus-get_next_line
